.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  background-color: white; 
  border: 1px solid #e0e0e0; 
  border-radius: 8px; 
  padding: 20px; 
  font-size: 24px;
  text-align: center; 
}

.empty-cart button{
  font-size: 24px;
}
